.border {
    height: 2px;
    width: 100px;
    background-color: black;
    margin-top: 2%;
    margin-bottom: 2%;
}

.gameBoard {
    width: 700px;
    height: 500px;
    background-color: #5bc570;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px;
}

.screen {
    background-color: darkgray;
    height: 100vh;
    width: 100vw;
}

.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.topBur {
    padding-top: 10px;
    padding-left: 10px;
    min-height: 90px;
    background-color: darkseagreen;
}

.team {
    float: left;
    text-align: center;
    width: 83px;
    height: 50px;
    margin-top: 3px;
    margin-bottom: 3px;
    margin-left: 4px;
    border: 2px solid black;
    border-radius: 8px;
    background-color: honeydew;
}

li {
    border: 2px solid black;
    margin: 2px 2px 2px 2px;
    border-radius: 7px;
    background-color: cornflowerblue;
    list-style-type: none;
    width: 190px;
    text-align: center;
}

h1{
    text-align: center;
    color: #ed1f2b;
}